@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="table-responsive" style="background-color:white">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Başlık</th>
                <th>İçerik</th>
                <th>Resim</th>
                <th>Görev 1</th>
                <th>Görev 2</th>
                <th>Görev 3</th>
                <th>Görev 4</th>
                <th>Durumu</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th>@count</th>
                    <td>@item.Title</td>
                    <td>@item.Content</td>
                    <td><img src="~/myimages/service/@item.ImageUrl" alt="Resim yok" style="width:75px" height="75px" /></td>
                    @if (item.Status)
                    {
                        <td class="color-success">True</td>
                    }
                    else
                    {
                        <td class="color-danger">False</td>
                    }
                    <td>@item.TaskName</td>
                    <td>@item.TaskName2</td>
                    <td>@item.TaskName3</td>
                    <td>@item.TaskName4</td>
                    <td><a class="btn btn-warning" href="/AdminService/UpdateService/@item.ServiceId">Güncelle</a></td>
                    <td><a class="btn btn-danger" href="/AdminService/DeleteService/@item.ServiceId">Sil</a></td>
                </tr>
            }

        </tbody>
    </table>
    <a class="btn btn-success" href="/AdminService/CreateService/">Yeni Servis</a>
</div>

